<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="com.zend.studio.p2.touchpoint.actions.UpdateInfoPlistAction"
            description="Updates the Info.plist file of the Mac application with the correct paths of the newly installed Equinox launcher bundles."
            name="updateInfoPlist"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>

</plugin>
